<div id="mbpro-modal" class="mbpro-modal" style="display:none;">
    <div class="mbpro-modal-bg"></div>
    <div class="mbpro-modal-box">
        <h3 id="mbpro-modal-title">{{#str}}running_backup, local_mysqlbackuppro{{/str}}</h3>
        <div class="mbpro-progress"><div class="mbpro-progress-bar" id="mbpro-progress-bar"></div></div>
        <p id="mbpro-modal-msg">{{#str}}please_wait, local_mysqlbackuppro{{/str}}</p>
    </div>
</div>
